@import url("observablehq:default.css");
/* @import url("observablehq:theme-air.css"); */

/* root */

:root {
  --theme-background: #fff /* #E0F7FA; */;
  --theme-foreground: #101656;
  --theme-background-alt: #fff /* #E0F7FA; */;
  --theme-foreground-alt: #101656;
  --theme-foreground-muted: #101656;
  --theme-foreground-focus: #C552B5;
  --theme-foreground-focus-muted: #ffbbe3;
  --grey: #dddbdb; 
}

/* core font stuff */

.bigger {
  font-size: 1.2em;
}

.smaller {
  font-size: 0.8em;
}

h2, h3, h4 {
  padding: 5px 0px 10px 0px;
}

/* layout stuff */

.fullwidth>h1 {
  max-width: 100% !important;
}

/* table stuff */

.headless {
  tbody {
    border-bottom: 1px solid var(--theme-foreground);
  }
  table>thead {
    border-bottom: 1px solid var(--theme-foreground);
  }
}

tbody>tr:hover {
  background-color: var(--theme-foreground-focus-muted) !important;
}

tr:nth-child(even) {
  background-color:rgb(241, 241, 241);
  border-top:0.5px solid #666;
  border-bottom:0.5px solid #666;
  margin: 1px 0px 1px 0px;
}


hr {
  max-width: 640px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem 0;
}



.front-header {
  font-size: 2.6em;
  font-weight: 900px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto;
  text-align: center;
  max-width: 80% !important;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--sans-serif);
  /* margin: 4rem; */
  text-wrap: balance;
  text-align: center;
}

.abstract {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.bordertop {
  border-top: 0.5px solid var(--theme-foreground);
  margin-top: 14px;
}

.hero h1 {
  margin: 1rem 0;
  padding: 1rem 0;
  max-width: none;
  font-size: 14vw;
  font-weight: 900;
  line-height: 1;
}

.hero h2 {
  margin: 0;
  max-width: 34em;
  font-size: 20px;
  font-style: initial;
  font-weight: 500;
  line-height: 1.5;
  color: var(--theme-foreground-muted);
}

@media (min-width: 640px) {
  .hero h1 {
    font-size: 90px;
  }
}

/* circle list */

.circle-list {
  list-style: none;
  counter-reset: list-counter;
  position: relative;
  padding-left: 2.5em;
  margin-left: -20px;
}

.circle-list li {
  counter-increment: list-counter;
  position: relative;
  padding-left: 3em;
  margin-bottom: 1.2em;
}

.circle-list li::before {
  font-size: 0.8em;
  content: counter(list-counter);
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #101656;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.circle-list li::after {
  content: '';
  position: absolute;
  top: 1.5em;
  left: 0.75em;
  width: 2px;
  height: 100%;
  background-color: #101656;
}

.circle-list li:last-child::after {
  display:none;
}

/* cards for labs/activities/assignments */

.card-available {
  vertical-align: top;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  display: inline-block;
  text-align: center;
  transition: 0.2s;
}

.block {
  display: grid;
}

.work-avail {
  font-family: monospace;
  position:relative;
  margin:auto;
  padding: 10px;
  margin: 10px;
  flex:auto;
  text-align: center;
  transition: 0.2s;
  filter: drop-shadow(6px 6px 0px var(--theme-foreground));
}

.work-avail:hover {
  text-decoration: none;
  transform: scale(1.1);
  transition:0.2s;
  filter:saturate(10) drop-shadow(6px 6px 0px var(--theme-foreground));
}

.work-unavail {
  font-family: monospace;
  position:relative;
  margin:auto;
  padding: 10px;
  margin: 10px;
  flex:auto;
  text-align: center;
  transition: 0.2s;
  background: repeating-linear-gradient(
    45deg,
    #eaeaea,
    #eaeaea 10px,
    #e2e2e2 10px,
    #e2e2e2 20px
  );
  filter: drop-shadow(6px 6px 0px var(--theme-foreground));
}

.week {
  font-family: monospace;
  font-weight: 100px;
  padding: 0.4em 1em 0.4em 1em;
  background-color: var(--theme-foreground);
  color: beige;
  border-radius: 4px;
}

.sched-header {
  margin: 3rem 0rem 1em 0rem;
  max-width: 640px;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.card {
  font-family: monospace;
}

.reading {
  background-color: beige;
  padding: 2em;
  border-radius: 0.8em;
}

.assignments {
  background-color: rgb(253, 233, 232);
  padding: 2em;
  border-radius: 0.8em;
}

.sched-ass-due {
  color: var(--theme-foreground);
  text-align: center;
  max-height:fit-content;
  font-style: oblique;
  letter-spacing: 0.3em;
  border-radius: 0.8em;
}

.assigned {
  font-family: monospace;
  font-size: 0.7em;
  padding: 6px;
  margin: 2px;
  border-radius: 0.8em;
  background: color(srgb 63.9% 88.2% 60.4%);
}

.due {
  font-family: monospace;
  font-size: 0.7em;
  padding: 6px;
  margin: 2px;
  border-radius: 0.8em;
  background: var(--theme-foreground-focus-muted)
}

.card-unavailable {
  vertical-align: top;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  display: inline-block;
  text-align: center;
  transition: 0.2s;
  filter: grayscale();
}

.card-title {
  font-weight: 900 !important;
  margin-top: 6px;
}

.card-description {
  font-size: 0.8em;
}

.card-available:hover {
  text-decoration: none;
  transform: scale(1.1);
  transition:0.2s;
}

.img-container {
  position: relative;
  text-align: center;
  max-height: 125px;
  max-width: 200px;
  margin: 8px;
  transition: 0.1s;
}

.card-available img, .card-unavailable img {
  max-height: 125px !important;
  max-width: 90%;
  height: auto;
  border-radius: 5px;
}

.card-available .img-container:hover {
  /* filter: opacity(0.6); */
}

.blur {
  filter: blur(4px);
  -webkit-user-select: none !important; /* Safari */        
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}

.superblur {
  filter: blur(8px);
  -webkit-user-select: none !important; /* Safari */        
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}

.spaced {
  letter-spacing: 0.5em;
}

.date::before {
  content:"🗓️ ";
  font-size: 1.5em;
  font-style: normal !important;
}

.schedule {
  max-width: 200px;
  display: none;
}

.sched-img-container {
  overflow: hidden;
  width: 200px;
  display: block;
  cursor:help;
}

.sched-img {
  width: 100%;
  height: auto;
  max-height: 80px;
  object-fit: cover;
  max-width: 100%; 
}

input:checked + .sched-img-container + .schedule {
  display: block;
}

input:checked + .sched-img-container {
  transform: scale(1);
  filter: none;
}

.bottom {
  margin-bottom:0;
}

/* media */

@media (max-width: 768px) {
  .schedule {
    padding: 1.5em; /* Slightly smaller padding on mobile */
  }

  .sched-img-container {
    height: auto; /* Allow image container to be flexible */
    margin-bottom: 1rem;
    max-width: -webkit-fill-available;
  }

  .disappear {
    display: none;
  }

  .block {
    display: block;
  }

  .bottom {
    margin-bottom: 3em;
  }

  .aside {
    display: none;
  }
}

.sticker {
  position: fixed;
  bottom: 30px;
  right: 200px;
  filter: blur(5px);
  transition: 0.2;
  &:hover {
      transition: 0.2s;
      filter: none;
  }
}

/* labs, activities, assignments components */

.callout {
  font-family: monospace;
  font-size: 0.8em;
  border: dotted 2px var(--theme-foreground-focus);
  background-color: #fff1f9;
  margin: 2em;
  padding: 1em;
  max-width: 500px;
  filter: drop-shadow(10px 10px var(--theme-foreground-focus));
  &:before /* .callout > details > summary */ {
    content: "> IMPORTANT!";
    font-weight: 700;
    border-bottom: dotted 2px black;
    max-width: fit-content;
  }
}

.tip {
  font-family: monospace;
  font-size: 0.8em;
  border: dotted 2px #4c63b5;
  background-color: #d8e0fe;
  margin: 2em;
  padding: 1em;
  max-width: 500px;
  filter: drop-shadow(10px 10px #4c63b5);
  &:before /* .callout > details > summary */ {
    content: "💬 Tip!";
    color: black;
    font-weight: 700;
    border-bottom: dotted 2px #4c63b5;
    max-width: fit-content;
  }
}

.aside {
  width: 25%;
  padding-left: 0.5rem;
  margin: 0px 200px 1.5em 2em;
  /* margin-right: 200px;
  margin-bottom: 1.5em; */
  float: right;
  box-shadow: inset 5px 0px 5px -5px #b65dbe;
  font-style: italic;
  color: #29627e;
  background: rgb(239, 243, 250);
}

.aside > p {
  margin: 0.5rem;
}

.woohoo {
  font-family: monospace;
  border: dotted 2px var(--theme-foreground-focus);
  background-color: #3d363a;
  margin: 2em;
  padding: 1em;
  max-width: 500px;
  filter: drop-shadow(10px 10px var(--theme-foreground-focus));
}

a code {
  padding: 0;
  font-weight: 400;
  background: rgba(0,0,0,0);
  border: none;
  font-size: 1em;
  line-height: 0;
  color: var(--theme-foreground-focus);
}

.callout p {
  padding: 0 1.5em 0 1.5em;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  margin-left: 1.2em !important;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

pre code {
  padding: 0;
  font-weight: 400;
  background: rgba(0,0,0,0);
  border: none;
  font-size: 1em;
  line-height: 0;
  color: #666;
}

.key {
  font-family: monospace;
  color: rgb(210, 41, 41);
  text-transform: uppercase;
  padding: 0px 0.1em 0px 0.1em;
}

code {
  padding: 0.3em 0.15em;
  font-weight: 400;
  background-color: #edf0f0;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 0.8em;
  line-height: 2;
  color: #171717;
  font-family: monospace;
}

figure img {
  /* max-width: 95%; */
  border:1px dotted var(--theme-foreground);
  border-radius: 0.4em;
  filter:drop-shadow(6px 6px 4px #66666683);
  margin-top: 1em;
  transition: 0.2s;
}

figure figcaption {
  font-size: 0.8em;
  text-align: center;
  margin:1.5em 0em 3em 0em;
  font-style: italic;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  text-transform: uppercase;
  color: #29627e;
}

.logo {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 16px; /* Adjust as needed */
  font-family: monospace;
  background-color: var(--theme-foreground-focus-muted);
  /* margin: 0px 0.2em 0px 0.2em; */
  padding: 0px 0.4em 0px 0.4em;
}

.information {
  max-width: 540px;
  /* padding: 2em;
  margin-bottom: 2em; */
  /* &:before {
    content: 'Information';
    font-size: 0.8em;
    font-family: monospace;
    font-weight: 900;
    border-bottom: dotted 2px black;
    text-transform: uppercase;
  } */
}

ol li::marker {
  font-family: monospace;
}

#clickme {
  cursor: pointer;
}

.question {
  counter-reset: questions;
}

.q {
  border: dotted 2px #47a954;
  background-color: #d8fedd;
  margin: 2em;
  padding: 1em;
  max-width: 500px;
  filter: drop-shadow(10px 10px #47a954);
}

details summary::marker {
  cursor: pointer;
}

.icon:hover {
  color: var(--theme-foreground) !important;
}

.gray {
  color: var(--grey);
}