@import url("observablehq:default.css");
@import url('https://fonts.cdnfonts.com/css/noto-sans-math');

/* @import url("observablehq:theme-air.css"); */

/* root */

:root {
  --theme-background: #fff /* #E0F7FA; */;
  --theme-foreground: #101656;
  --theme-background-alt: rgb(244, 248, 254) /* #E0F7FA; */;
  --theme-foreground-alt: #101656;
  --theme-foreground-muted: #255770;;
  --theme-foreground-focus: #C552B5;
  --theme-foreground-focus-muted: #ffbbe3;
  --grey: #dddbdb; 
}

/* core font stuff */

.bigger {
  font-size: 1.2em;
}

.smaller {
  font-size: 0.8em;
}

h2, h3, h4 {
  padding: 5px 0px 10px 0px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* layout stuff */

.fullwidth>h1 {
  max-width: 100% !important;
}

/* table stuff */

.headless {
  margin: 0.5rem;
  tbody {
    border-bottom: 1px solid var(--theme-foreground);
  }
  table>thead {
    border-bottom: 1px solid var(--theme-foreground);
  }
}

table {
  max-width: 900px;
}

tbody>tr:hover {
  background-color: var(--theme-foreground-focus-muted) !important;
}

tr:nth-child(even) {
  background-color:rgb(241, 241, 241);
  border-top:0.5px solid #666;
  border-bottom:0.5px solid #666;
  margin: 1px 0px 1px 0px;
}


hr {
  max-width: 640px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem 0;
}



.front-header {
  font-size: 2.6em;
  font-weight: 900px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto;
  text-align: center;
  max-width: 80% !important;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--sans-serif);
  /* margin: 4rem; */
  text-wrap: balance;
  text-align: center;
}

.abstract {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.bordertop {
  border-top: 0.5px solid var(--theme-foreground);
  margin-top: 14px;
}

.hero h1 {
  margin: 1rem 0;
  padding: 1rem 0;
  max-width: none;
  font-size: 14vw;
  font-weight: 900;
  line-height: 1;
}

.hero h2 {
  margin: 0;
  max-width: 34em;
  font-size: 20px;
  font-style: initial;
  font-weight: 500;
  line-height: 1.5;
  color: var(--theme-foreground-muted);
}

@media (min-width: 640px) {
  .hero h1 {
    font-size: 90px;
  }
}

/* circle list */

.circle-list {
  list-style: none;
  counter-reset: list-counter;
  position: relative;
  padding-left: 2.5em;
  margin-left: -20px;
}

.circle-list li {
  counter-increment: list-counter;
  position: relative;
  padding-left: 3em;
  margin-bottom: 1.2em;
}

.circle-list li::before {
  font-size: 0.8em;
  content: counter(list-counter);
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #101656;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.circle-list li::after {
  content: '';
  position: absolute;
  top: 1.5em;
  left: 0.75em;
  width: 2px;
  height: 100%;
  background-color: #101656;
}

.circle-list li:last-child::after {
  display:none;
}

/* cards for labs/activities/assignments */

.card-available {
  vertical-align: top;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  display: inline-block;
  text-align: center;
  transition: 0.2s;
}

.block {
  display: grid;
}

.work-avail {
  font-family: monospace;
  position:relative;
  margin:auto;
  padding: 10px;
  margin: 10px;
  flex:auto;
  text-align: center;
  transition: 0.2s;
  filter: drop-shadow(6px 6px 0px var(--theme-foreground));
}

.work-avail:hover {
  text-decoration: none;
  transform: scale(1.1);
  transition:0.2s;
  filter:saturate(10) drop-shadow(6px 6px 0px var(--theme-foreground));
}

.work-unavail {
  font-family: monospace;
  position:relative;
  margin:auto;
  padding: 10px;
  margin: 10px;
  flex:auto;
  text-align: center;
  transition: 0.2s;
  background: repeating-linear-gradient(
    45deg,
    #eaeaea,
    #eaeaea 10px,
    #e2e2e2 10px,
    #e2e2e2 20px
  );
  filter: drop-shadow(6px 6px 0px var(--theme-foreground));
}

.week {
  font-family: monospace;
  font-weight: 100px;
  padding: 0.4em 1em 0.4em 1em;
  background-color: var(--theme-foreground);
  color: beige;
  border-radius: 4px;
}

.sched-header {
  margin: 3rem 0rem 1em 0rem;
  max-width: 640px;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.card {
  font-family: monospace;
}

.blur {
  filter: blur(4px);
  -webkit-user-select: none !important; /* Safari */        
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}

.superblur {
  filter: blur(8px);
  -webkit-user-select: none !important; /* Safari */        
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.spaced {
  letter-spacing: 0.5em;
}

.schedule {
  width:200px;
  display: none;
}

.sched-container {
  overflow: hidden;
  width:200px;
  display: block;
  cursor:help;
}

.coursework {
  width:250px;
  display:none;
}

.coursework-container {
  overflow: hidden;
  width:250px;
  display: block;
  cursor:help;
}

input:checked + .sched-container + .schedule {
  display:block;
}

input:checked + .coursework-container + .coursework {
  display:block;
}

.bottom {
  margin-bottom:0;
}

/* media */

@media (max-width: 768px) {
  .schedule {
    padding: 1.5em; /* Slightly smaller padding on mobile */
  }

  .sched-img-container {
    height: auto; /* Allow image container to be flexible */
    margin-bottom: 1rem;
    max-width: -webkit-fill-available;
  }

  .disappear {
    display: none;
  }

  .block {
    display: block;
  }

  .bottom {
    margin-bottom: 3em;
  }

  .aside {
    display: none;
  }
}

.sticker {
  position: fixed;
  bottom: 30px;
  right: 200px;
  filter: blur(5px);
  transition: 0.2;
  &:hover {
      transition: 0.2s;
      filter: none;
  }
}

/* labs, activities, assignments components */

.extra {
  border: dotted 2px #f4ff1c;
  background-color: #fbfdd7;
  margin: 2em;
  padding: 1em;
  max-width: 500px;
  filter: drop-shadow(10px 10px #f4ff1c);
  &:before /* .callout > details > summary */ {
    content: "> EXTRA CREDIT!";
    font-weight: 700;
    border-bottom: dotted 2px black;
    max-width: fit-content;
  }
}

.callout {
  font-family: monospace;
  font-size: 0.8em;
  border: dotted 2px var(--theme-foreground-focus);
  background-color: #fff1f9;
  margin: 2em;
  padding: 1em;
  max-width: 500px;
  filter: drop-shadow(10px 10px var(--theme-foreground-focus));
  &:before /* .callout > details > summary */ {
    content: "> IMPORTANT!";
    font-weight: 700;
    border-bottom: dotted 2px black;
    max-width: fit-content;
  }
}

.tip {
  font-family: monospace;
  font-size: 0.8em;
  border: dotted 2px #4c63b5;
  background-color: #d8e0fe;
  margin: 2em;
  padding: 1em;
  max-width: 500px;
  filter: drop-shadow(10px 10px #4c63b5);
  &:before /* .callout > details > summary */ {
    content: "💬 Tip!";
    color: black;
    font-weight: 700;
    border-bottom: dotted 2px #4c63b5;
    max-width: fit-content;
  }
}

.aside {
  width: 25%;
  padding-left: 0.5rem;
  margin: 0px 200px 1.5em 2em;
  float: right;
  border-left: 4px solid var(--theme-foreground-focus);
  font-style: italic;
  color: #255770;
  background: rgb(244, 248, 254);
}

.aside > p {
  margin: 0.5rem;
}

a code {
  padding: 0;
  font-weight: 400;
  background: rgba(0,0,0,0);
  border: none;
  font-size: 1em;
  line-height: 0;
  color: var(--theme-foreground-focus);
}

.callout p {
  padding: 0 1.5em 0 1.5em;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  margin-left: 1.2em !important;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

pre code {
  padding: 0;
  font-weight: 400;
  background: rgba(0,0,0,0);
  border: none;
  font-size: 1em;
  line-height: 0;
  color: #666;
}

.key {
  font-family: monospace;
  color: rgb(210, 41, 41);
  text-transform: uppercase;
  padding: 0px 0.1em 0px 0.1em;
}

code {
  padding: 0.3em 0.15em;
  font-weight: 400;
  background-color: #edf0f0;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 0.8em;
  line-height: 2;
  color: #171717;
  font-family: monospace;
}

figure img {
  /* max-width: 95%; */
  border:1px dotted var(--theme-foreground);
  border-radius: 0.4em;
  filter:drop-shadow(6px 6px 4px #66666683);
  margin-top: 1em;
  transition: 0.2s;
}

figure figcaption {
  font-size: 0.8em;
  text-align: center;
  margin:1.5em 0em 3em 0em;
  font-style: italic;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  text-transform: uppercase;
  color: #29627e;
  /* border-top: 1px dotted var(--theme-foreground); */
  border-bottom: 1px dotted var(--theme-foreground);
}

ol li::marker {
  font-family: monospace;
}

#clickme {
  cursor: pointer;
}

.question {
  counter-reset: questions;
}

.q {
  border: dotted 2px #47a954;
  background-color: #d8fedd;
  margin: 2em;
  padding: 1em;
  max-width: 500px;
  filter: drop-shadow(10px 10px #47a954);
}

details summary::marker {
  cursor: pointer;
}

.icon:hover {
  color: var(--theme-foreground) !important;
}

.gray {
  color: var(--grey);
}

.fit {
  width:fit-content;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  background: var(--theme-foreground);
}

.leaflet-control-layers::before{
  font-size: 1.2em;
  font-weight:900;
  content: 'Tisch Library in...'
}

a.submit {
  background-color: var(--theme-foreground);
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding: 8px 32px;
}
a.submit:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
  text-decoration: none;
  transform: translateY(-1px);
}

#Layer_1 {
  filter:drop-shadow(0px 0px 20px black)
}

.scaledown {
  width: 100%;
  height: 600px;
  /* transform:scale(0.75); */
}

.math {
  font-family: 'Noto Sans Math';
  font-weight:400;
  margin-left: 2em;
}

a[rel~="next"], a[rel~="prev"] {
  border: 1px dotted var(--theme-foreground) !important;
  /* background: var(--theme-foreground-focus-muted) */
}

footer {
  margin-top: 2rem !important;
}

.reading-list {
  text-indent: -3em;
  margin-left: 3em;
}

blockquote {
  font-size: 0.8em;
  color: var(--theme-foreground-muted);
  padding: 1rem 1rem 1rem 2rem;
  border-left:4px solid var(--theme-foreground);
  background: var(--theme-background-alt);
}

.intro {
  max-width: 600px;
  padding: 1em;
  background: var(--theme-background-alt);
}

#observablehq-toc {
  background: var(--theme-background-alt);
}

#observablehq-header {
  background: var(--theme-background-alt);
}